{% extends "base.html" %}
{% load static %}
{% load unicorn %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/hero_selection.css' %}" />
  {% unicorn_scripts %}
{% endblock %}
{% block title %}Select Your Hero{% endblock %}
{% block content %}
<div class="hero-selection">
  <h1 class="hs_header">Select Your Hero</h1>
  <div class="hero-cards-container">
    {% for hero in heroes %}
      <div class="hero-card">
        <h2>{{ hero.name }}</h2>
        <p>Class: {{ hero.hero_class.name }}</p>
        <p>Level: {{ hero.level }}</p>
        <div class="{{ hero.hero_class.name|lower }}-icon hero-icon"></div>
        <a href="{% url 'select_hero' hero.id %}" class="btn select-btn">Select</a>
      </div>
    {% empty %}
      <p>No heroes available. Please create a character.</p>
    {% endfor %}
  </div>
  <div class="create-button-container">
    <a href="{% url 'create_character' %}" class="btn create-btn">Create New Hero</a>
  </div>
</div>
{% endblock %}
