{% extends 'base.html' %}
{% load static %}
{% load unicorn %}
{% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block title %}{{ hero.name }} - Home{% endblock %}
{% block content %}
    {% csrf_token %}
    {% unicorn 'home-screen' %}
    <script type="text/javascript">
        // fronted healing over time logic
        // for demonstration purposes only
        // reload the page to display actual health from backend
        var current_health = {{ hero.current_health }};
        var max_health = {{ hero.max_health }};
        var healthFill = document.getElementById("health-fill");
        var healthText = document.getElementById("health-text");
        var healthRegenRate = {{ hero.health_regeneration_rate }};

        var current_mana = {{ hero.current_mana }};
        var max_mana = {{ hero.max_mana }};
        var manaFill = document.getElementById("mana-fill");
        var manaText = document.getElementById("mana-text");
        var manaRegenRate = {{ hero.mana_regeneration_rate }};

        function heal() {
            if (current_health < max_health) {
                current_health += healthRegenRate;
                if (current_health > max_health) {
                    current_health = max_health;
                }
                var healthPercentage = (current_health / max_health) * 100;
                healthFill.style.width = healthPercentage + "%";
                healthText.textContent = current_health + " / " + max_health + " HP";
            }
        }

        function manaRestore()
        {
            if (current_mana < max_mana) {
                current_mana += manaRegenRate;
                if (current_mana > max_mana) {
                    current_mana = max_mana;
                }
                var manaPercentage = (current_mana / max_mana) * 100;
                manaFill.style.width = manaPercentage + "%";
                manaText.textContent = current_mana + " / " + max_mana + " MP";
            }
        }

        setInterval(heal, 1000); // Heal 1 HP every second
        setInterval(manaRestore, 1000); // Restore 1 MP every second
    </script>
{% endblock %}
