{% load static %}
{% load unicorn %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% unicorn_scripts %}
    <title>{{ hero.name }} - Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% csrf_token %}
    {% unicorn 'home-screen' %}
    <script type="text/javascript">
        // fronted healing over time logic
        // for demonstration purposes only
        // reload the page to display actual health from backend
        var current_health = {{ hero.current_health }};
        var max_health = {{ hero.health }};
        var healthFill = document.getElementById("health-fill");
        var healthText = document.getElementById("health-text");

        function heal() {
            if (current_health < max_health) {
                current_health += 1;
                if (current_health > max_health) {
                    current_health = max_health;
                }
                var healthPercentage = (current_health / max_health) * 100;
                healthFill.style.width = healthPercentage + "%";
                healthText.textContent = current_health + " / " + max_health + " HP";
            }
        }

        setInterval(heal, 30000); // Heal 1 HP every 30 seconds
    </script>
  </body>
</html>
